name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cups-pdf cups-bsd
      - name: Run tests
        run: |
          mkdir -p $HOME/PDF
          lpr -P PDF sample.pdf
          sleep 5 # i hate this
          ls -al $HOME/PDF
          